#include "{project_name}/RvizPublisherPanel.hpp"

#include <pluginlib/class_list_macros.hpp>

namespace {project_name}
{{
RvizPublisherPanel::RvizPublisherPanel(QWidget * parent)
: rviz_common::Panel(parent)
{{
  node_ = rclcpp::Node::make_shared("rviz_publisher_panel");

  layout_ = new QVBoxLayout();
  setLayout(layout_);

  setupPublishers();
  setupButtons();

  spin_thread_ = std::thread([this]() {{
    rclcpp::spin(node_);
  }});
}}

RvizPublisherPanel::~RvizPublisherPanel()
{{
  spin_thread_.join();
}}

void RvizPublisherPanel::onInitialize()
{{
}}

void RvizPublisherPanel::setupPublishers()
{{
{publisher_initializations}
}}

void RvizPublisherPanel::setupButtons()
{{
{buttons_initializations}
}}
}}  // namespace {project_name}

PLUGINLIB_EXPORT_CLASS({project_name}::RvizPublisherPanel, rviz_common::Panel)
