#include <rclcpp/rclcpp.hpp>
#include <rviz_common/panel.hpp>
#include <QVBoxLayout>
#include <QPushButton>
#include <QLineEdit>
#include <QTreeWidget>
#include <QLabel>
#include <QTabWidget>
#include <thread>
#include <map>

{message_includes}

namespace {project_name}
{{

class RvizPublisherPanel : public rviz_common::Panel
{{
    Q_OBJECT
public:
  explicit RvizPublisherPanel(QWidget * parent = 0);
  virtual ~RvizPublisherPanel();

  void onInitialize() override;

protected:
  QVBoxLayout * layout_;

private:
{publisher_declarations}
{button_declarations}

  void setupPublishers();
  void setupButtons();

  rclcpp::Node::SharedPtr node_;
  std::thread spin_thread_;
  std::map<std::string, rclcpp::PublisherBase::SharedPtr> publishers_;
}};

}} // namespace {project_name}
