<library path="{project_name}">

  <class name="{project_name}/Rviz Publisher Panel"
         type="{project_name}::RvizPublisherPanel"
         base_class_type="rviz_common::Panel">
    <description>The Rviz Publisher Panel.</description>
  </class>

</library>